<launch>
    <node name="mbed0" pkg="rosserial_python" type="serial_node.py" output="screen">
        <param name="port" value="/dev/ttyACM0"/>
        <param name="baud" value="115200"/>
    </node>
    <node name="disp_val" pkg="linetrace" type="disp_val"/>
    <node name="calc_sensor_val" pkg="linetrace" type="calc_sensor_val" output="screen"/>
</launch>